@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";

:host {
  display: inline-flex;
  #initials {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 1.4em;
    height: 1.4em;
    line-height: 1;
    background-color: @grey;
    padding: @micropad;
    .circle;
    .flat;
  }
  #text {
    flex: 1;
    font-size: 0.8em;
    text-align: center;
  }
}
